{% extends 'shared/base.html'%}

{% block content %}
  <body>
    <h1>Manufacturer: {{ computer.manufacturer }}</h1>
    <div>Make: {{computer.make}}</div>
    <div>Purchase Date: {{computer.purchase_date}}</div>
    <section id="computer-actions" style="display:flex;">
          <form action="{% url 'hrapp:computer_detail' computer.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="actual_method" value="DELETE" >
              <button onclick="return confirm('Are you sure?')">Delete</button>
              <input type=button value="Back" onClick="javascript:history.go(-1);">
              
{% endblock %}