{% extends 'shared/base.html' %}

{% block content %}
    <h1>Add Computer</h1>


    <form action="{% url 'hrapp:computer_list' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="dept_name">Manufacturer: </label>
          <input id="manufacturer" type="text" name="manufacturer">
      </fieldset>
      <fieldset>
          <label for="make">Make: </label>
          <input id="make" type="text" name="make">
        </fieldset> 
         <fieldset>
          <label for="purchase_date">Purchase Date: </label>
           <input id="purchase_date" type="date" name="purchase_date">
    </fieldset>
     
      <input type="submit" value="Add Computer" />
    
    </form>
{% endblock content %}