{% extends 'shared/base.html' %}

{% block content %}
    <div class="main-content">
        <h1>Employees</h1>

        <a href="{% url 'hrapp:employee_form' %}">Add Employee</a>

        <ol class="employees">
        {% for employee in employees %}
        <li>
            <div><a href="{% url 'hrapp:employee_detail' employee.id %}">{{ employee.first_name }} {{ employee.last_name }}</a></div>
            <div>Department: {{employee.department.dept_name}}</div>
        </li>
        {% endfor %}
        </ol>
    </div>
{% endblock content %}