{% extends 'shared/base.html' %}
    {% block content %}
      <h1>Employee Form</h1>
      {% if employee.id is not None %}
          <form action="{% url 'hrapp:employee_edit_form' employee.id %}" method="POST">
      {% else %}
          <form action="{% url 'hrapp:employee_form' %}" method="POST">
      {% endif %}
          {% csrf_token %}
        <fieldset>
            <label for="first_name">First Name: </label>
            <input id="first_name" type="text" name="first_name" {% if employee %} value="{{employee.first_name}}" {% else %} value="" {% endif %} >
        </fieldset>
        <fieldset>
            <label for="last_name">Last Name: </label>
            <input id="last_name" type="text" name="last_name" {% if employee %} value="{{employee.last_name}}" {% else %} value="" {% endif %} >
        </fieldset>
        <fieldset>
            <label for="start_date">Start Date: </label>
            <input id="start_date" type="date" name="start_date" {% if employee %} value="{{employee.start_date}}" {% else %} value="" {% endif %} >
        </fieldset>
        <fieldset>
            <label for="is_supervisor">Role: </label>
            <select id="is_supervisor" name="is_supervisor">
                <option value='True'>Supervisor</option>
                <option value='False' {% if employee.is_supervisor == 'False' %}selected{% endif %}>Not Supervisor</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="department">Department: </label>
            <select id="department" name="department">
                  {% for department in all_departments %}
                      <option value="{{ department.id }}" 
                      {% if employee.department_id == department.id %}
                        selected
                      {% endif %}
                      >{{ department.dept_name }}</option>
                  {% endfor %}
            </select>
        </fieldset>
        {% if employee.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
          <input type="submit" value="Update" />
        {% else %}
          <input type="submit" value="Create" />
        {% endif %}
      </form>
    {% endblock %}