{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    <h1>Training Programs</h1>
   <a href="{% url 'hrapp:training_program_form' %}">Add New Training Program</a>

    <ol>
    {% for program in all_training_programs %}

        <li>
            <a href="{% url 'hrapp:training_program' program.id%}">{{program.title}} </a>
            {{program.start_date}}
            {{program.end_date}}
            {{program.capacity}}
        </li>
    {% endfor %}
    </ol>
  </body>
</html>